# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myPythonProjects\EmotionRecog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
